@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}

form.create input,form.create textarea {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 7px;
}

.adwert {
    display: block;
    width: 200px;
    float: left;
    height: 300px;
    border: 1px solid #f4f4f4;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #525252;
    overflow: hidden;
}

.adwerts {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans';
}

.date {
    color: #cecece;
    font-size: 12px;
    margin-bottom: 15px;
}

.product_title {
    font-size: 22px;
}

.back {
    margin-bottom: 20px;
}
.back a {
    color: #f17c6e;
}

.stat {
    margin-top: 25px;
    color: #a0a0a0;
    font-size: 14px;
}